<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish />
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>b25c57e1-45aa-42f2-8e54-0028fe6bf0f6</ProjectGuid>
		<SelfContained>false</SelfContained>
		<MSDeployServiceURL>https://win6049.site4now.net:8172/MsDeploy.axd?site=george1255-001-site1</MSDeployServiceURL>
		<DeployIisAppPath>george1255-001-site1</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
		<UserName>george1255-001</UserName>
		<_SavePWD>true</_SavePWD>
		<_TargetId>IISWebDeploy</_TargetId>
		<AllowUntrustedCertificate>true</AllowUntrustedCertificate>
	</PropertyGroup>
</Project>